*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--background-color);
}

.main-heading{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 10px 0px;
    letter-spacing: 2px;
}

.player, .dealer {
    display: flex;
    align-items: center;
}

.dealers-deck, .players-deck{
    outline: 1px solid red;
    min-height: 200px;
}

.dealers-deck {
    width: 100%;
}

.players-deck {
    flex-grow: 1;
}

.players-deck img, .dealers-deck img{
    width: 80px;
    height: 100px;
    padding: 10px;
}



.btn {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: rgb(150, 0, 0);
    color: white;
}